@using QE.Models
@model QE.Models.UsersAndTeachersViewModel
<style>
    .GeneralPage {
        min-width: 1024px;
        min-height: 576px;
        background-color: #f2f2f2;
        opacity: 0.9;
        text-align: center;
        vertical-align: middle;
        text-align: center;
        vertical-align: middle;
        padding: 10px;
    }

    .utSearchBar {
        background-color: white;
        width: inherit;
        height: 50px;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .GeneralListView {
        width: inherit;
        height: inherit;
    }

    .GeneralListViewList {
        height: 25%;
        width: 10%;
        border: 1px solid black;
    }

    .GeneralListViewPartial {
        height: 50%;
        width: 50%;
        border: 1px solid black;
    }

    .blackBtn {
        background-color: #777777;
        font-weight: bold;
        color: white;
        border: none;
        height: 30px;
        width: 200px;
        border-radius: 2px;
        margin: 2px;
    }


    .fade {
        opacity: 0;
        display: none;
        -webkit-transition: opacity 0.15s linear;
        -moz-transition: opacity 0.15s linear;
        -o-transition: opacity 0.15s linear;
        transition: opacity 0.15s linear;
        z-index: 1;
    }

        .fade.in {
            opacity: 1;
            display: block;
        }
</style>

<div id="msgSuccess" class="alert alert-success alert-dismissable fade">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Success!</strong> @TempData[Constant.msg_success]
</div>

<div id="msgFail" class="alert alert-danger alert-dismissable fade">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Failed!</strong> @TempData[Constant.msg_error]
</div>
<div class="GeneralPage">
    <div class="utSearchBar">
        <img src="@Constant.IMGPATH@Constant.LogoImgPath.SearchIcon" /> @Constant.CommonLabel.Search
    </div>

    <div class="container">
        <div class="form-group col-md-3">
            <div class="list-group">
                <h4 class="list-group-item-heading">@Constant.AdminAndSetupViewLabel.UsersAndTeachers.Title</h4>
                @if (Model.UserList != null)
                {
                    foreach (var item in Model.UserList)
                    {
                        <a class="list-group-item" href="@Url.Action("UsersAndTeachers", "AdminAndSetup", new { id = item.ID })">@Html.DisplayFor(model => item.USER_NAME)&nbsp;@Html.DisplayFor(model => item.USER_NAME_CHI)</a>
                    }
                }
                <a href="@Url.Action("UsersAndTeachers", "AdminAndSetup", new { id = new int?() })" class="list-group-item">@Constant.AdminAndSetupViewLabel.UsersAndTeachers.AddNewUserTeacher</a>
            </div>
        </div>
        <div class="form-group col-md-9">
            @Html.Partial("_UsersAndTeachers", Model.DisplayingUser)
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/sorttable/sorttable.js"></script>
<script>

        $('#EditButton').show(); //check authentication


        $('#EditButton').click(function () {
            $('.blind').toggle();
        });



    var success = '@TempData[Constant.msg_success]';
    var fail = '@TempData[Constant.msg_error]';

    if (success) {
            $("#msgSuccess").addClass("in");
    }

    if (fail) {
        $("#msgFail").addClass("in");
    }


    $(document).ready(function () {
    });
</script>