
@using QE.Models
@using QE.Models.ViewModels
@model HomeworkTypeViewModel

@{
    ViewBag.Title = "HomeworkType";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    .GeneralPage {
        min-width: 1024px;
        min-height: 576px;
        background-color: #f2f2f2;
        opacity: 0.985;
        text-align: center;
        vertical-align: middle;
        text-align: center;
        vertical-align: middle;
        padding: 10px;
    }

    .termBox {
        margin: 10px;
        text-align: left;
        font-weight: bold;
        color: #5b5b5b;
    }

        .termBox select {
            border-radius: 5px;
            color: #5b5b5b;
        }

    .input-Box {
        border: 1px solid transparent;
        padding: 2px;
        vertical-align: middle;
        width: 100%;
        min-width: 100%;
        text-align: center;
        text-align-last: center;
        text-overflow: clip;
    }


    .blackBtn {
        background-color: #777777;
        font-weight: bold;
        color: white;
        border: none;
        height: 30px;
        width: 200px;
        border-radius: 2px;
        margin: 2px;
        display: none;
    }


    #editForm {
        float: right;
    }

    button {
        background: none;
        border: none;
    }

    .blind {
        display: none;
    }

    .fade {
        opacity: 0;
        display: none;
        -webkit-transition: opacity 0.15s linear;
        -moz-transition: opacity 0.15s linear;
        -o-transition: opacity 0.15s linear;
        transition: opacity 0.15s linear;
        z-index: 1;
    }

        .fade.in {
            opacity: 1;
            display: block;
        }
</style>


<div id="msgSuccess" class="alert alert-success alert-dismissable fade">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Success!</strong> @TempData[Constant.msg_success]
</div>

<div id="msgFail" class="alert alert-danger alert-dismissable fade">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Failed!</strong> @TempData[Constant.msg_error]
</div>
<div class="GeneralPage">
    <div class="container">
        <div class="row termBox">
            <div class="pull-right h2" style="margin-left:5px; margin-right:5px;">
                <label class="fa fa-file-excel-o" id="btnExport" onclick="fnExcelReport('type', 0)"></label>
            </div>
            <input type="submit" class="blackBtn Btn_right" value="Edit" id="editForm">
        </div>
        @using (Html.BeginForm("HomeworkType", "Homework", FormMethod.Post))
        {
            <table class="table sortable" id="type">
                <tr>
                    <th class="col-md-5 text-center">@Constant.HomeworkViewLabel.Type.Name</th>
                    <th class="col-md-5 text-center">@Constant.HomeworkViewLabel.Type.Duration</th>
                    <th class="col-md-1 text-center"></th>
                </tr>

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @for (int i = 0; i < Model.inactiveList.Count; i++)
                {
                    @Html.HiddenFor(model => model.inactiveList[i])
                }

                @if (Model.types != null)
                {
                    for (int i = 0; i < Model.types.Count; i++)
                    {
                        @Html.HiddenFor(model => model.types[i].ID)
                        @Html.HiddenFor(model => model.types[i].ADD_BY)
                        @Html.HiddenFor(model => model.types[i].ADD_DATE)
                        @Html.HiddenFor(model => model.types[i].MODIFY_BY)
                        @Html.HiddenFor(model => model.types[i].MODIFY_DATE)
                        @Html.HiddenFor(model => model.types[i].ACTIVE)
                        <tr>
                            <td class="col-md-5">
                                <label class="blind2">@Model.types[i].NAME</label>
                                @Html.EditorFor(model => model.types[i].NAME, new { htmlAttributes = new { @class = "input-Box blind" } })
                            </td>
                            <td class="col-md-5">
                                <label class="blind2">@Model.types[i].DURATION_DAY</label>
                                @Html.EditorFor(model => model.types[i].DURATION_DAY, new { htmlAttributes = new { @class = "input-Box blind" } })
                            </td>
                            <td class="col-md-1"><button type="submit" class="glyphicon glyphicon-remove blind" formaction="@Url.Action("InactiveType", "Homework", new { type_id = Model.types[i].ID })" /></td>
                        </tr>
                    }
                }
            </table>
            <table class="table blind">
                @Html.HiddenFor(model => model.newType.ID)
                <tr>
                    <td class="col-md-5">@Html.EditorFor(model => model.newType.NAME, new { htmlAttributes = new { @class = "input-Box" } })</td>
                    <td class="col-md-5">@Html.EditorFor(model => model.newType.DURATION_DAY, new { htmlAttributes = new { @class = "input-Box" } })</td>
                    <td class="col-md-1"><button type="submit" class="glyphicon glyphicon-plus blind" formaction='@Url.Action("AddType", "Homework")' /></td>
                </tr>
                <tr>
                    <td class="col-md-5">@Html.ValidationMessageFor(model => model.newType.NAME, "", new { @class = "text-danger" })</td>
                    <td class="col-md-5">@Html.ValidationMessageFor(model => model.newType.DURATION_DAY, "", new { @class = "text-danger" })</td>
                    <td class="col-md-1"></td>
                </tr>
            </table>
            <input type="submit" class="blackBtn blind" value="Save" id="save-btn">
        }
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/Scripts/sorttable/sorttable.js"></script>
<script src="~/js/Common.tool.js"></script>
<script>
    $(document).ready(function () {
        $('#editForm').show(); //check authentication

        $('#editForm').click(function () {
            $('.blind').toggle();
            $('.blind2').toggle();

        });

        var showForm = '@TempData["showform"]';

        if (showForm == 'True') {
            $('.blind').show();
            $('.blind2').hide();
        }

    });

    $('#TermList').change(function () {
        var id = $(this).val();
        window.location.href = '@Url.Action("StudentGroup","Student")?term_id=' + id;
    });

    var success = '@TempData[Constant.msg_success]';
    var fail = '@TempData[Constant.msg_error]';

    if (success) {
            $("#msgSuccess").addClass("in");
    }

    if (fail) {
        $("#msgFail").addClass("in");
    }
</script>

