@using QE.Models
@using QE.Models.ViewModels
@model GroupSubjectViewModel

@{
    ViewBag.Title = "_StudentGroupAndSubjects"; 
    }



<style>

    .blackBtn {
        background-color: #777777;
        font-weight: bold;
        color: white;
        border: none;
        height: 34.8px;
        width: 200px;
        border-radius: 2px;
        margin: 2px;
    }
</style>

<div class="col-md-12">
    @using (Html.BeginForm("_StudentGroupAndSubjects", "Student", FormMethod.Post, new {enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(Model => Model.SelectedTerm)
            <div class="col-md-12">
                <input type="submit" value="@Constant.CommonLabel.Save" class="blackBtn"/>
                <br /><br /><br />

                <h4 class="list-group-item-heading">@Constant.StudentViewLabel.Title.Subjects</h4>
                <div class="list-group">
                    @if (Model.GSs != null && Model.GSs.Any())
                    {
                        for (int gs = 0; gs < Model.GSs.Count; gs++)
                        {
                            <div class="list-group-item">
                                <div class="row">
                                    @Html.HiddenFor(Model => Model.GSs[gs].GroupID)
                                    @Html.HiddenFor(Model => Model.GSs[gs].SubjectID)
                                    @Html.HiddenFor(Model => Model.GSs[gs].MapID)
                                    <div class="col-md-4 text-left">
                                        @Html.DisplayFor(Model => Model.GSs[gs].EBD_CODE)
                                    </div>
                                    <div class="col-md-6 text-left">
                                        @Html.DisplayFor(Model => Model.GSs[gs].Subject_Name)
                                    </div>
                                    <div class="col-md-2 text-center">
                                        @Html.CheckBoxFor(Model => Model.GSs[gs].Contain, new { @class = "float-right contain" })
                                    </div>
                                    </div>
                            </div>
                        }
                        <div class="list-group-item">
                            <label id="select-all">ALL</label>
                        </div>
                    }
                </div>
            </div>
    }
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>

    submisstionAllSelected = false;

    $('#select-all').click(function (event) {

        if (!submisstionAllSelected) {
            $('.contain').each(function () {
                this.checked = true;
                $('#select-all').text('NONE');
            });

            submisstionAllSelected = true;
        } else {
            $('.contain').each(function () {
                this.checked = false;
                $('#select-all').text('ALL');
            });

            submisstionAllSelected = false;
        }
    });
</script>
 


