@using QE.Models.ViewModels
@using QE.Models
@model GroupStudentViewModel

@{
    ViewBag.Title = "StudentGroupsAndStudents";
}

<style>
    .GeneralPage {
        min-width: 1024px;
        min-height: 576px;
        background-color: #f2f2f2;
        opacity: 0.9;
        text-align: center;
        vertical-align: middle;
        text-align: center;
        vertical-align: middle;
        padding: 10px;
    }

    .utSearchBar {
        background-color: white;
        width: inherit;
        height: 50px;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
        font-weight: bold;
        margin-bottom: 10px;
    }


    .container {
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
        max-width: 100%
    }

    .termBox {
        margin: 10px;
        text-align: left;
        font-weight: bold;
        color: #5b5b5b;
    }

    .blind {
        display: none;
    }


    .fade {
        opacity: 0;
        display: none;
        -webkit-transition: opacity 0.15s linear;
        -moz-transition: opacity 0.15s linear;
        -o-transition: opacity 0.15s linear;
        transition: opacity 0.15s linear;
        z-index: 1;
    }

        .fade.in {
            opacity: 1;
            display: block;
        }
</style>

<div id="msgSuccess" class="alert alert-success alert-dismissable fade">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Success!</strong> @TempData[Constant.msg_success]
</div>

<div id="msgFail" class="alert alert-danger alert-dismissable fade">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Failed!</strong> @TempData[Constant.msg_error]
</div>
<div class="GeneralPage">
    @*<div class="utSearchBar">
            <img src="@Constant.IMGPATH@Constant.LogoImgPath.SearchIcon" /> @Constant.CommonLabel.Search
        </div>*@
    <div class="container">
        <div class="col-md-8">
            <div class="row termBox">
                Select term to edit:
                @if (Model.TermList.Any())
                {
                    @Html.DropDownList("TermSelectList", new SelectList(Model.TermList, "Value", "Text", Model.SelectedTerm), new { id = "TermList" });
                }
            </div>
            <p class="pull-left">*Beware! Save your changes before you go to next step</p>
            <br /><br />
            <h4 class="list-group-item-heading">@Constant.StudentViewLabel.Title.StudentGroup</h4>
            <div class="list-group">
                @if (Model.Groups != null && Model.Groups.Any())
                {
                    for (var g = 0; g < Model.Groups.Count; g++)
                    {
                        <a class="list-group-item" href="@Url.Action("_StudentGroupAndStudents", "STUDENT", new { term_id =Model.SelectedTerm, group_id = Model.Groups[g].ID })">
                            <div class="row">
                                <div class="col-md-4 text-left">@Model.Groups[g].NAME</div>
                                @{
                                    string teacher = Model.Groups[g].TEACHER > 0 ? Model.Teachers.Where(t => t.ID == Model.Groups[g].TEACHER).First().USER_NAME : "";
                                    string teacher2 = Model.Groups[g].TEACHER_2 > 0 ? Model.Teachers.Where(t => t.ID == Model.Groups[g].TEACHER_2).First().USER_NAME : "";
                                    string teacher3 = Model.Groups[g].TEACHER_3 > 0 ? Model.Teachers.Where(t => t.ID == Model.Groups[g].TEACHER_3).First().USER_NAME : "";
                                    string teacher4 = Model.Groups[g].TEACHER_4 > 0 ? Model.Teachers.Where(t => t.ID == Model.Groups[g].TEACHER_4).First().USER_NAME : "";
                                }
                                <div class="col-md-2 text-left">@teacher</div>
                                <div class="col-md-2 text-left">@teacher2</div>
                                <div class="col-md-2 text-left">@teacher3</div>
                                <div class="col-md-2 text-left">@teacher4</div>
                            </div>

                        </a>
                    }
                }
            </div>
        </div>
        <div class="col-md-4 blind">
            @Html.Partial("_StudentGroupAndStudents", Model)
        </div>
    </div>
</div>



<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>

    $('#TermList').change(function () {
        var id = $(this).val();
        window.location.href = '@Url.Action("StudentGroupAndStudents","Student")?term_id=' + id;
    });

    var success = '@TempData[Constant.msg_success]';
    var fail = '@TempData[Constant.msg_error]';

    if (success) {
            $("#msgSuccess").addClass("in");
    }

    if (fail) {
        $("#msgFail").addClass("in");
    }

    if (@Model.SelectedGroup != null && @Model.SelectedGroup > 0) {
        $('.blind').show();
    }

</script>




